<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-estimotesdk"
	version="0.0.1">

	<name>CordovaEstimoteSDK</name>
	<description>Cordova plugin wrapper for Estimote SDK</description>
	<license>MIT</license>
	<keywords>Estimote, iBeacon</keywords>

	<dependency id="cordova-plugin-add-swift-support" version="1.6.2"/>

	<preference name="ESTIMOTE_APP_ID" default="-" />
	<preference name="ESTIMOTE_APP_TOKEN" default="-" />
	<preference name="LOCATION_WHEN_IN_USE_DESCRIPTION" default="This app would like to scan for beacons while it is in use." />
	<preference name="LOCATION_BACKGROUND_DESCRIPTION" default="This app would like to scan for beacons when in the background." />

	<js-module src="src/js/CDVEstimoteSDK.js" name="CDVEstimoteSDK">
		<clobbers target="cordova.plugins.EstimoteSDK" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="CDVEstimoteSDK" >
				<param name="android-package" value="no.apility.cordova.CDVEstimoteSDK" />
			</feature>
		</config-file>
		<source-file src="src/android/CDVEstimoteSDK.java" target-dir="src/no/apility/cordova/"/>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="com.estimote.sdk.service.BeaconService" android:exported="false" />
		</config-file>
		<framework src="src/android/CDVEstimoteSDK.gradle" custom="true" type="gradleReference" />
	</platform>

	<platform name="ios">
		<header-file src="src/ios/CDVEstimoteSDK-Bridging-Header.h"/>
		<source-file src="src/ios/CDVEstimoteSDK.swift" />
		<config-file target="*-Info.plist" parent="CDVEstimoteSDK">
			<dict>
				<key>AppID</key>
				<string>$ESTIMOTE_APP_ID</string>
				<key>AppToken</key>
				<string>$ESTIMOTE_APP_TOKEN</string>
			</dict>
		</config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$LOCATION_BACKGROUND_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$LOCATION_WHEN_IN_USE_DESCRIPTION</string>
        </config-file>
		<framework src="EstimoteSDK" type="podspec" spec="~> 4.16.0" />
	</platform>

</plugin>
